.difficulty_container {
    height: 20px;
    display: flex;
    margin: 5px 0;
}

.difficulty_element {
    width: 10px;
    height: 20px;
    margin: 0 1px;
}

.difficulty_element_inactive {
    width: 10px;
    height: 20px;
    margin: 0 1px;
    background-color: #a5a5a5;
}