.recipies_list_wrapper {
    max-height: 70vh;
}

.scrolling {
    max-height: inherit;
    position: relative;
    box-sizing: border-box;
    padding-right: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.scrolling::-webkit-scrollbar { 
    display: none; 
}

.recipe_item {
    /* border: 1px solid #999; */
    margin: 10px;
    padding: 10px;
    /* background-color: #cccccc; */
}

.recipe_item h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.recipe_item h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.button_container {
    margin: 5 auto;
    text-align: center;
}