.recipe_item_inner {
    padding: 15px;
}

.recipe_item_info_block {
    display: flex;
}

.recipe_item_info_block_inner {
    padding: 10px;
}

.recipe_time {
    display: flex;
    align-items: center;
}

.recipe_time p {
    margin-left: 5px;
}